.card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;

    input {
        flex: 1;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    button {
        padding: 10px 20px;
        background-color: #F08080;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
            background-color: #F08080;
        }
    }
}

.list-group {
    list-style-type: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 10px;

        .form-check-input {
            margin-right: 10px;
        }

        .btn-danger {
            padding: 5px 10px;
            background-color: #F08080;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: #F08080;
            }
        }

        .text-decoration-line-through {
            text-decoration: line-through;
            color: #999;
        }
    }
}
.recap-button-container {
    margin-top: 1.5rem;
    .recap-button {
        background-color: #F08080;
        color: white;
        border: 1px solid #F08080;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
        &:hover {
            background-color: #F08080;
            border-color: #F08080;
        }
        &:active {
            background-color: #F08080;
            border-color: #F08080;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
    }
}