<nav class="navbar">
    <div class="container">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tâches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/recap" routerLinkActive="active">Récapitulatif</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container mt-4">
        <router-outlet></router-outlet>
    </div>
</main>